/* FONDOS
#ffffff
#888888
#333333
#00000073
#EBC300
TEXTOS
#ffffff
#eef4de
#888888
#676767
#444444
#000000 */

@font-face {
  font-family: 'manrope';
  src: url(../fuentes/Manrope-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'bebas-neue';
  src: url(../fuentes/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: 'ppeiko-thin';
  src: url(../fuentes/PPEiko-Thin.otf);
}

*{
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img{
  max-width: 100%;
  vertical-align: top; /* para quitar la ralla blanca en la imagen */
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff;
}
header>p{
  font-family: 'bebas-neue', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 3rem;
  font-size: 1.6rem;
  padding: 1px 20px;
  /* letter-spacing: 2px; */
}
header>p>span{
  text-transform: capitalize;
  font-family: 'Manrope', sans-serif;
  font-weight: 100; 
  font-size: 10px;
}
.icon-cross{
  display:none;
  font-size: 30px;
  color: #676767;
  padding: 10px;
  margin-right: 10px;
} 
.icon-menu{
  font-size: 30px;
  color:#676767;
  padding: 10px;
  margin-right: 10px;
}
body{
  margin-top: 80px;
}
nav>ul{
  position: fixed;
  right: 0;
  top: -150px;
  width: 100%;
  background-color: #ffffff;
  text-decoration: none;
  font-family:'Manrope', sans-serif;
  text-transform: capitalize;
  z-index: 1000;
}
nav>ul>li{
  padding: 5px;
}
nav>ul>li>a{
  margin: 0 20px;
  font-weight: 400;
  font-size: 1rem;
  color:#676767;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease; /* Transición suave de 0.3 segundos */
}
nav>ul>li>a::after{
  content: "";
  position: absolute;
  bottom: -2px;/* Ajusta la posición del subrayado */
  left: 0;
  width: 0;
  height: 2px;
  background-color:#EBC300;
  transition: width 0.3s ease; /* Transición solo para la anchura */

}
nav>ul>li>a:hover::after {
  width: 100%; /* Hace que el subrayado se extienda al 100% */
}

nav>ul>li>a:hover{
  color: #444444;
  font-weight: 800;
}
h1{
  text-transform: capitalize;
  font-family: 'bebas-neue';
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.2rem;
  text-align: center;
  color: #67676780;
}
h2{
  text-transform: uppercase;
  padding: 40px;
  font-family: 'bebas-neue';
  color: #67676780;
  font-size: 2.50rem;
  line-height: 2rem;
  font-weight: 400;
  text-align: center;
}
h3{
  text-transform: uppercase;
  font-family: 'bebas-neue';
  color: #676767;
  font-size: 1.5rem;
  padding: 10px;
  font-weight: 200;
}
h4{
  text-transform: uppercase;
  font-family: 'manrope';
  color: #676767;
  font-size: 1rem;
  font-weight:100;
} 
p{
  font-family: 'manrope';
  color: #444444;
  padding: 10px;
  text-align: justify;
}
strong{
  font-family: 'bebas-neue';
  font-size: 26px;
  color: #676767;
  font-weight: 200;

}
.line-separator{
  width: 100%;
  margin: 0;
  height: 1px;
  background-color: #67676754;
  margin: 20px 0;
}


/* --------IMAGENES-FADE---------- */

.images-fade {
  width: 100%; 
}
.images-fade>article {
  position: relative;
  display:flex;
  flex-direction: column;
}
.images-fade>article>.image1>img{
  width: 100%;
  vertical-align: top;
}
.images-fade>article>.image1>div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000002c;
}
.images-fade>article>.image2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  vertical-align: top;
}
.images-fade>article>.image2>div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000054;
}
.image1-text, .image2-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image1-text>h1, .image2-text>h1{
  font-family: 'bebas-neue';
  font-weight: 400;
  font-size: 2.25rem;
  text-align: center;
  background-color: #1111113f;
  color: white;
  letter-spacing: 3px;
  margin-bottom: 10px;
}
.image1-text>button{
  margin-top: 40px;
  text-transform: uppercase;
  border: solid 0.5px white;
  background-color: #1111113f;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  font-family: 'manrope';
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}

.image2-text>button{
  margin-top: 40px;
  text-transform: uppercase;
  color: black;
  border: solid 0.5px white;
  padding: 10px 30px;
  border-radius: 5px;
  font-family: 'manrope';
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}
.image2-text-button:hover{
  display: block;
  background-color: hsla(0, 0%, 7%, 0.247);
  color: white;
}
.image2-text>button>a{
  color: #111111;
  
}

button>a:hover{
  display: block;
  color:#EBC300;
}
button>a{
  display:block;
  color:white;
}


/* --------ABOUT SECTION-------- */
.about-section{
  margin-top: 60px;
  width: 90%;
  margin: auto;
}
.about-section>h2{
  margin-top: 20px;
}

/* -----SECCION PROYECTOS------ */
.project-section{
  width: 90%;
  margin: auto;
}
.projects-gallery>article {
  margin: 20px 0;
  position: relative;
  overflow: hidden;
}

.overlay{
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.301);
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.overlay>h3{
  color: white;
}

.scrollToTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 40px;
  padding: 0 12px;
  border: none;
  background-color: #969494;;
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
}

.scrollToTopBtn:hover{
  background-color: #ece8e8;
  color:#969494;
  border:solid 2px #969494;;
}


/* ------FOOTER------- */
footer {
    margin-top: 20px;
    background-color: #444444;
    padding: 20px;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    color: white;

}
.contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
footer>div>.info {
    display: flex;
    flex-direction: column;
}

footer>.contacto>.info>span {
    padding: 15px;
}
footer>.contacto>.info>div {
    padding: 5px;
}

footer>div>.redes {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
footer>p{
  color: white;
}
  
.icon-mail, .icon-globe, .icon-phone {
    font-size: 20px;
    color:white;
}

.icon-twitter-with-circle, .icon-instagram-with-circle, .icon-facebook-with-circle
{
    font-size: 40px;
    color:white;
    padding: 5px;
}
footer>p{
  padding: 20px;
  font-size: 14px;
  text-align: center;
}
/*-*******************MINNI MOVILE******************-*/
@media(max-width: 370px){
  header>p>span{
    display: none;
  }
  .image1-text>h1, .image2-text>h1{
    font-size: 1.5rem;
  }
}
@media(max-width: 400px){
  .image1-text>h1, .image2-text>h1{
    font-size: 1.5rem;
  }
}

 /* *******************TABLET**************** */
@media(min-width: 740px){

  body{
    margin-top: 100px;
  }
  .icon-menu {
    display: none;
  }
  .icon-cross {
    display: none;
  }
  nav>ul>li>a{
  font-size: 18px;
  }
  header{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
  }
  header>p{
    font-size: 44px;
  }
  header>p>span{
    text-transform: capitalize;
    font-family: 'Manrope';
    font-weight: 100; 
    font-size: 18px;
  }

  nav{
    text-decoration: none;
    font-family:'verlag-bold';
    text-transform: uppercase;
  }
  
  nav>ul{
    padding: 5px ;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    top: 50px;
  }
  .planner-section>.column-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

.column-box>article{
    margin-top: 30px;
    width: 30%;
  }
  .image1-text>h1, .image2-text>h1{
    font-family: 'bebas-neue';
    font-weight: 400;
    font-size: 4.25rem;
    text-align: center;
    background-color: #1111113f;
    color: white;
    letter-spacing: 3px;
    margin-bottom: 10px;
  }

/* -------------------PROYECTOS SECTION----------------- */
  .project-section{
    width: 90%;
    margin: auto;
  }
  .project-section>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .project-section>div>article{
    width: 30%;
  }
  .about-section>article{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .about-section>article>img{
    width: 50%;
    margin: 10;
  }
  .about-section>article>p{
    width: 50%;
    text-align: justify;
    padding: 20px;
    font-size: 12px;
 
  }
  .contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
  /********************PC****************** */
@media (min-width: 1200px){
  header>p{
    font-size: 50px;
  }
  header>p>span{
    text-transform: capitalize;
    font-family: 'Manrope', sans-serif;
    font-weight: 100; 
    font-size: 20px;
  }
  nav>ul>li>a{
    font-size: 20px;
  }
  .image1-text>h4, .image2-text>h4{
    text-transform: capitalize;
    font-family: 'bebas-neue';
    font-weight: 400;
    font-size: 80px;
    line-height: 3rem;
    text-align: center;
  }

  .project-section{
    width: 80%;
    margin: auto;
  }
  
  .about-section>article>p{
    width: 50%;
    margin: 10px;
    text-align: justify;
    padding: 0 30px;
    font-size: 20px;
  }


  .contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }


  
}


